[mysqld]
character-set-server=utf8
default-time-zone=America/Los_Angeles

# Server SSL certs
# ssl-ca=/etc/mysql/sslCerts/ca.pem
# ssl-cert=/etc/mysql/sslCerts/server-cert.pem
# ssl-key=/etc/mysql/sslCerts/server-key.pem
# ssl-cipher=AES128-SHA

sql-mode="STRICT_TRANS_TABLES,NO_ENGINE_SUBSTITUTION"

[client]
# Client SSL certs
# ssl-ca=/etc/mysql/sslCerts/ca.pem
# ssl-cert=/etc/mysql/sslCerts/client-cert.pem
# ssl-key=/etc/mysql/sslCerts/client-key.pem